/*
 * Search form.
 *
 * The form wraps the input, search icon, and clear button. Handles border,
 * background, and the focus-ring transition.
 */

.ais-AutocompleteForm {
  align-items: center;
  background-color: rgba(
    var(--ais-autocomplete-background-color),
    var(--ais-autocomplete-background-color-alpha)
  );
  border: var(--ais-autocomplete-form-border-width) solid
    rgba(
      var(--ais-autocomplete-form-border-color),
      var(--ais-autocomplete-form-border-color-alpha)
    );
  border-radius: var(--ais-autocomplete-form-border-radius);
  display: flex;
  margin: 0;
  padding-left: var(--ais-autocomplete-form-horizontal-padding);
  padding-right: var(--ais-autocomplete-form-horizontal-padding);
  position: relative;
  width: 100%;
  transition:
    border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    outline-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.ais-AutocompleteForm:focus-within {
  border-color: rgb(var(--ais-autocomplete-form-focus-ring-color));
  box-shadow:
    0 0 0 var(--ais-autocomplete-form-focus-ring-width)
      rgba(
        var(--ais-autocomplete-form-focus-ring-color),
        var(--ais-autocomplete-form-focus-ring-color-alpha)
      ),
    inset 0 0 0 var(--ais-autocomplete-form-focus-ring-width)
      rgba(
        var(--ais-autocomplete-form-focus-ring-color),
        var(--ais-autocomplete-form-focus-ring-color-alpha)
      );
  outline: currentColor none medium;
}
